<% include ./partials/header %>


<div class="row container">
	<div class="col-md-3">
		<a class="btn btn-danger btn-block" href="/person">view all people</a>
		<a class="btn btn-danger btn-block" href="/person/new">Add new person</a>
	</div>
</div>
<% include ./partials/footer %>